# Byte-compiled / optimized / DLL files
__pycache__/

# Datos / resultados (tu caso)
Resultados/
PyTorch/Articles
PyTorch/Data
PyTorch/Config
PyTorch/Notebooks/FutureWork/
PyTorch/Notebooks/Results_Annealed.ipynb
PyTorch/TrainTest/Annealed/
PyTorch/TrainTest/FutureWork/
PyTorch/TrainTest/DiffGoLDice
run_condor*
run_experiment*

Regressor/
TODOList.md
