__pycache__/
Resultados/
PyTorch/Articles
PyTorch/Data
PyTorch/Config
PyTorch/Notebooks/FutureWork/
PyTorch/Notebooks/Results_Annealed.ipynb
PyTorch/TrainTest/Annealed/
PyTorch/TrainTest/FutureWork/
PyTorch/TrainTest/DiffGoLDice
PyTorch/NewData
run_condor*
run_experiment*

Regressor/
TODOList.md
